language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

matrix:
  allow_failures:
    - php: hhvm
    - php: 7.0

services:
  - apc
  - memcache
  - memcached

before_script:
  - composer update
  - phpenv config-add .travis/phpenv/apc.ini
  - phpenv config-add .travis/phpenv/memcache.ini
  - phpenv config-add .travis/phpenv/memcached.ini

script:
  - ./vendor/bin/phpunit
  - ./vendor/bin/phpcs -p --report=full --extensions=php --standard=.travis/phpcs/Joomla/ruleset.xml src/
